name: CI + CD
on:
  push:
    branches: [ main ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd ~/docker-app
            git pull origin main
            docker build -t docker-app .
            docker stop docker-app
            docker rm docker-app
            docker run -d --name docker-app -p 3000:3000 docker-app
